 <script type="text/javascript">
      $(function() {
          $("#slideshow").cycle();
      });
  </script>
  
<br/>
<div id="slideshow"> 
  <% @pictures.sort_by{rand}.each do |image| %>
   <span class="hunting_images"> 
     <h4><%= image.species %></h4>
   <%= link_to image_tag(image.picture.url(:medium), :class => "hunting_image"), image.picture.url(:large), :rel => "shadowbox" %>
   </span>
   
  <% end %>
</div>