 <script type="text/javascript">
      $(function() {
          $("#slideshow").cycle();
      });
  </script>
  
<br/>
<div id="slideshow"> 
  <% @pictures.each do |image| %>
   <span class="hunting_images"> 
     <h4><%= image.species %></h4>
   <%= image_tag(image.picture.url(:thumb), :border => 0, :class => "hunting_image") %>
   </span>
   
  <% end %>
</div>