<br/>
<div class="my_tabs">
<!-- the tabs -->
<ul class="tabs">
    <li><a href="#">Photos</a></li>
    <li><a href="#media">Video</a></li>
</ul>

<!-- tab "panes" -->

<div class="panes">
    <div><%= render :partial => 'photo_tab' %></div>
    <div id="media"><%= render :partial => 'media_tab' %></div>
</div>

</div>

