<div class="profile" id="page_anchor" >
  <%= image_tag "rufus_profile.png" %>
  <p>
  <h1>Rufus Luttig<h1>
    <h2>South African Director</h2>
    <ul>
      <li><span>Address:</span>&nbsp;PO Box 7093, Grahamstown North, 6148, South Africa</li>
      
      <li><span>Phone:</span>&nbsp;+27&nbsp;766&nbsp;103829</li>
      <li><span>Email:</span>&nbsp;<%=mail_to "rufus@huntsa.com"%></li>
      </ul>
  </p>
<div class="clear"></div>       
</div>

<div class="profile">
  <%= image_tag "brad_profile.png" %>
  <p>
  <h1>Brad Rauch<h1>
    <h2>US Representative</h2>
    <ul>
      <li><span>Address:</span>&nbsp;243 W. Nicklaus Ave, Kalispell, MT 59901</li>
      
      <li><span>Phone:</span>&nbsp;(406)&nbsp;249-7068</li>
      <li><span>Email:</span>&nbsp;<%=mail_to "kuduhuntr@gmail.com"%></li>
      </ul>
  </p>
<div class="clear"></div>       
</div>