<div id="page_anchor">
<div id="main_page">
  
  <div class="hunting-information">
    <h1>Pricing and Hunting Information</h1>
    
    <iframe src="http://docs.google.com/gview?url=http://huntsa.com/docs/HuntSA_PriceList.pdf&embedded=true" style="width:718px; height:900px;" frameborder="0"></iframe>
    <a href="/docs/HuntSA_PriceList.pdf " class="price_list" target="blank">Download</a>
    
  </div>
  
  <div id="package1">
    <h1>Hunting Information</h1>
   
    <a href="/packages" class="package-link">Packages</a>

    <h3>Ideal caliber's & Information</h3> 
  <ul>
    <li>.270 Winchester to .300 Magnum range</li>
    <li>Arms supplied on request</li>
    <li>Premium grade ammunition recommended</li>
    <li>Firearms rental $30 per day and $2 per bullet </li>
  </ul>

  <h3> Transporting Firearms</h3>
  <p id="firearms">Visitors bringing firearms into South Africa for hunting purposes will be asked to fill in a <%= link_to "SAP 520", "/docs/FirearmsSAP520.pdf", :target => "blank" %>. We would strongly recommend filling in this form beforehand and that you contact us for assistance to ensure it is completed correctly. This will save processing time at the Police Office. Guidelines and more detailed information can be found in <%= link_to "Importation of Firearms", "/docs/importation.pdf", :target => "blank" %>. </p>
  <p id="firearms">For your convenience we have also linked to the <%= link_to "USA CUSTOMS 4459 document", "/docs/usa_customs.pdf" %>.
  <p>IT IS VERY IMPORTANT TO FAMILIARIZE YOURSELF WITH THE CONTENTS.</p>
  </div>  
  <div class="clear"></div> 
</div>
</div>

