
<div id="main_page">
  <div id="welcome">
    <h1>Welcome!</h1>
    <p>Hunting is more of a way of life than a business for our family. Our aim is to give our clients a once in a lifetime experience. We take special care to ensure that only the best trophies are taken home. The malaria-free Eastern Cape region of South Africa is home to an unrivalled variety of animal species and terrain types. This presents hunters with plenty of challenges and excitement. There are a number of concessions where we can hunt with our clients on more than 40,000 acres, including our own ranch. We also travel extensively in the U.S. and are willing to visit your local city to make a presentation to you and your hunting friends. Please contact us if you would like to set up a meeting.</p>
     <%=link_to image_tag("theranch.png"), ranch_path(:anchor => 'page_anchor'), :class => "readmore" %>
    
  </div>
  
  <div id="services">
    <h1>Services</h1>
    <p>We are a full service hunting outfit. We offer guiding services for both rifle and bow. We also offer lodging, food and transportation to and from the airport. With a wealth of experience in hunting, spanning 30 years, HuntSA under the leadership of Rufus Luttig is equipped to provide an extremely high quality service to clients. There are more than 35 species to choose from. We pride ourselves in being dedicated to ensure top class trophies are shot whilst enjoying the experience of a lifetime. We aim to create home away from home and clients always leave us as friends.</p>
    <br/>
    <br/>
    <%=link_to image_tag("pricing.png"), hunting_path(:anchor => "page_anchor"), :class => "readmore" %>
    
  </div>
  
  <div id="schedule">
    <%= render :partial => "tabs"%>
  </div>
 <div class="clear"></div> 
</div>
