
<div class="site_background" id="page_anchor" style="height: 2200px;">
  <div class="outreach">
<h1>Outreach</h1>
<h2 class="custom_h2_white">Breathtaking scenery but with a heartbreaking need for the Gospel.</h2>
<p style="width:750px;font-size:16px">“It took a severe drought in 1993 to break me down and let me surrender my life to God. Being a rancher and a hunter all my life, God’s love was so encompassing that He knew a drought would be the tool to break into my heart. It took me a number of years to understand that my love for the great outdoors and hunting was God given and not my idea! God, in his awesome creativity, put together in HuntSA my two passions - my love for Him and my love for the great outdoors.”<br/><br/>  –Rufus Luttig – owner Hunt SA.  </p>
<br/>
<br/>
<iframe class="iframe" src="http://huntsaoutreach.blogspot.com"></iframe>


<div style="position: absolute; margin-top: 1100px; margin-right: 120px;">
<h2><span class="custom_h2">Opportunities</span></h2>
<div id="outreach_opp">
<ul>
  <li>Involvement  in feeding orphans with <strong><%= link_to "Oceans of Mercy", "http://oceansofmercy.com" %></strong> in what we call “Soup clubs”. These clubs serve over 2,000 orphans per day presently with an incredible need for many more.</li>
  <li>We are involved in renovating an old Mission base in Bambisana village and can use your construction skills to see this base completed and usable in the near future.</li>
  <li><strong><%= link_to "Global Challenge Expeditions", "http://gcex.org" %></strong> is another ministry HuntSA partners with. They specialize in outreaches around the world with short term teams. They are based in Jefferies Bay South Africa. Global Challenge also has a Christian Primary school for children from townships near Port Elizabeth.  This is another opportunity for you to make a huge difference in the lives of underprivileged children.</li>
  <li>Discovery groups are popping up all over the Eastern Cape of South Africa. These are Bible study groups in the villages and townships. People can study the Bible in there own homes and receive the Good News right there. These groups then form into small churches and they are having a great affect in reaching people for Christ. This is just one of many places to get involved alongside HuntSA</li>
  
  <li>We can provide  custom made outreach  to accommodate your schedule while in South Africa  if you desire,which includes visiting hospitals and schools and encouraging the missionaries that work there full-time.  As you see the heartbreaking need, God will show you how He wants you to be involved.</li>
  <li>We also visit the local people in their traditional homes. A six-day outreach comprises five nights of camping with one night of luxury accommodation at a cost of $180 a day. Alternatively six nights of luxury accommodation is available at extra cost.  </li>
  <%= image_tag "mbicon.png", :style => "border: 0"%> <div style="margin-top: -35px; margin-left: 85px;">HuntSA is an associated ministry with <strong><%= link_to "Youth With a Mission / Mission Builders International", "http://missionbuilders.org", :target => "blank" %></strong>.</div>

</ul>


</div>

</div>
</div>
<div class="clear"></div>

</div>


